<div class="container aside-navigation">
    <div class="navigation">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link px-0" aria-current="page" href="#">
                <span class="icon">
                    <img src="{{url_for('static', filename='images/emqu.png')}}" alt="emqu-logo" width="80" height="24">
                </span>
                <!-- <span class="title">EmQu</span>  -->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                  <span class="icon"><i class="fa-solid fa-chart-line"></i></span>
                  <span class="title">Dashboard</span> 
                  </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="icon"><i class="fa-solid fa-laptop-code"></i></span>
                <span class="title">Devices</span>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="icon"><i class="fa-solid fa-network-wired"></i></span>
                <span class="title">Stadistics</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('auth.logout')}}">
                <span class="icon"><i class="fa-solid fa-toggle-off"></i></span>
                <span class="title">
                    Logout
                </span>
              </a>
            </li>
        </ul>
    </div>
  </div>

  <div class="main-container">
    {%block navbar%}
        {% include 'navbar.html' %}
    {% endblock %}  

    {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
  