{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
    {{ super() }}
    Platform
{% endblock %}

{% block content %}

        <div class="container">
            <div class="box">
                <h1>Welcome to the EmQu test for applicants!</h1>
                <p>If this is your first time, please create an account by clicking sign up and entering the data</p>
                <p>After that, you will be able to log in and use the app</p>
            </div>
        </div>
        
        <div class="container">
            <div class="box">
                <h4>These are the users registered:</h4>
                <ul class="list-group">
                    {% for user in users %}
                    <li>
                        {{ user.email }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
{% endblock %}
