{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}
    {{ super() }}
    Login
{% endblock %}

{% block content %}
    
    <div class="container">
        <div class="box">
            <h1>Login and test your devices</h1>
            {{ render_form(login_form) }}
            <small>
                Don't you have an account? 
                <a href="{{url_for('auth.signup')}}">Signup</a>
            </small>
        </div>
    </div>
{% endblock %}