{% from 'bootstrap5/form.html' import render_form %}

{% macro render_device(device, delete_form, test_form) %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Name: {{ device.name }}
        IPv4: {{ device.ipv4 }}

        {% if device.status %}
            <span class="badge bg-primary rounded-pill">
                active
            </span>
        {% else %}
            <span class="badge bg-secondary rounded-pill">
                inactive
            </span>
        {% endif %}

        {{ render_form(delete_form, action=url_for('delete', device_id=device.id)) }}

        {{ render_form(test_form, action=url_for('test', device_id=device.id)) }}
    </li>
{% endmacro %}

{% macro render_responses(response) %}
    <tr>
                    <th scope="row">{{ response.name }}</th>
                    <td>{{ response.ipv4 }}</td>
                    <td>{{ response.avg_latency }}</td>
                    <td>{{ response.min_latency }}</td>
                    <td>{{ response.max_latency }}</td>
                    <td>
                        {% if response.status %}
                            <span class="badge bg-primary rounded-pill">
                                active
                            </span>
                        {% else %}
                            <span class="badge bg-secondary rounded-pill">
                                inactive
                            </span>
                        {% endif %}
                    </td>
                    <td>{{ response.created_at }}</td>
                </tr>
{% endmacro %}